@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:wght@400;500;600;700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --white-color: #fff;
    --darck-color: #252525;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;

    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    --font-weigth-normal: 400;
    --font-weigth-medium: 500;
    --font-weigth-semibold: 600;
    --font-weigth-bold: 700;

    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    --site-max-widht: 1300px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--primary-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xxl);
}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);
}

img {
    width: 100%;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-widht);
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .logo-text {
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weigth-semibold);
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    color: var(--white-color);
    padding: 10px 18px;
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    transform: 0.3 ease;
}

.navbar .nav-menu .nav-link:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
}

.navbar :where(#menu-close-button, #menu-open-button) {
    display: none;
}

.hero-section {
    min-height: 100vh;
    background: var(--primary-color);
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}

.hero-section .hero-details .title {
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver", sans-serif;
}

.hero-section .hero-details .subtitle {
    margin-top: 8px;
    max-width: 70%;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weigth-semibold);
}

.hero-section .hero-details .discreption {
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: var(--font-size-m);
}

.hero-section .hero-details .buttons {
    display: flex;
    gap: 23px;
    transform: 0.3 ease;
}

.hero-section .hero-details .button:hover {
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;
}

.hero-section .hero-details .contact-us:hover {
    color: var(--primary-color);
    border-color: var(--secondary-color);
    background: var(--secondary-color);
}

.hero-section .hero-details .button {
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--primary-color);
    border-radius: var(--border-radius-m);
    background-color: var(--secondary-color);
    font-weight: var(--font-weigth-medium);
}

.hero-section .hero-image-wrapper {
    max-width: 450px;
    margin-right: 30px;
}

.about-section {
    padding: 120px 0;
    background-color: var(--light-pink-color);
}

.about-section .section-content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.about-section .about-image-wrapper .about-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
}

.about-section .about-section .section-title {
    padding: 0;
}

.about-section .about-details {
    max-width: 50%;
}

.about-section .about-details .text {
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
}

.about-section .social-link-list {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.about-section .social-link-list .social-link {
    color: var(--primary-color);
    font-size: var(--font-size-l);
    transform: 0.2s ease;
}

.about-section .social-link-list .social-link:hover {
    color: var(--secondary-color);
}

@media screen and (max-width: 900px) {
    :root {
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }

    .navbar :where(#menu-close-button, #menu-open-button) {
        display: block;
        font-size: var(--font-size-l);
    }

    .navbar #menu-close-button {
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .navbar #menu-open-button {
        color: var(--white-color);
    }

    .navbar .nav-menu {
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        background: var(--white-color);
    }

    .navbar .nav-menu .nav-link {
        color: var(--darck-color);
        display: block;
        margin-top: 17px;
        font-size: var(--font-size-l);
    }

    .about-section .section-content {
        gap: 70px;
        flex-direction: column-reverse;
    }

    .about-section .about-image-wrapper .about-image {
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }
}

.menu-sectoin {
    background: var(--darck-color);
}

.r {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: var(--darck-color);
}

.menu-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
    background: var(--darck-color);
}

.menu-image {
    width: 300px;
    height: 300px;
    margin: 10px 10px 10px 10px;
    background: var(--darck-color);
}

.menu-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
    width: 300px;
    height: auto;
    text-align: center;
    background: var(--darck-color);
    color: var(--white-color);
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--darck-color);
    text-align: center;
}

.testimonials-section {
    padding: 50px 0 100px;
    background: var(--light-pink-color);
}

.testimonials-section .testimonials {
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 500px;
}

.testimonials-list {
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    border-style: groove;
    border-color: var(--primary-color);
    border-radius: var(--border-radius-m);
    box-shadow: #ccc 10px 10px 10px 10px;
}

.testimonials-section .testimonials .user-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
    margin-bottom: 50px;
    border-style: groove;
    border-color: var(--primary-color);
}

.testimonials-section .testimonials .name {
    margin-bottom: 16px;
    font-size: var(--font-size-m);
}

.testimonials-section .testimonials .feedback {
    line-height: 25px;
}

.p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: var(--white-color);
}

.gallry-image {
    width: 400px;
    height: 300px;
}

.gallry-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.gallry-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.gallry-image {
    margin: 5px 5px 5px 5px;
}

.cantect-section {
    padding: 50px 0 100px;
    background: var(--light-pink-color);
}

.cantect-section .section-content {
    display: flex;
    gap: 48px;
    align-items: flex-start;
    justify-content: space-between;
}

.cantect-section .contact-info-list .contact-info {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
}

.cantect-section .contact-info-list .contact-info i {
    font-size: var(--font-size-m);
}

.cantect-section .contact-form .form-input:focus {
    border-color: var(--secondary-color);
}

.cantect-section .contact-form .submit-button {
    padding: 10px 26px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-weigth-medium);
    background: var(--primary-color);
    border-radius: var(--border-radius-m);
}

.cantect-section .contact-form .form-input {
    width: 100%;
    height: 50px;
    padding: 0 12px;
    outline: none;
    margin-bottom: 16px;
    background: var(--white-color);
    border-radius: var(--border-radius-s);
    border: 1px solid var(--medium-gray-color);
}

.cantect-section .contact-form textarea {
    height: 100px;
    padding: 12px;
    resize: vertical;
}